.settingsForm {
  margin-top: 24px;
}

.settingsForm .settingsSection {
  margin-bottom: 24px;
}

.settingsForm .settingsSection .settingsInput {
  margin-top: 16px;
}

.urlTab {
  margin-top: 24px;
}

.envRow {
  display: flex;
  align-items: center;
}

.envRow .envRemove {
  width: 24px;
  margin-left: 16px;
}